<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-4">
  <div class="container">
    <%= link_to "PACER Auth App", root_path, class: "navbar-brand" %>

    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class: "nav-link #{"active" if request.path.start_with?("/articles")}" %>
        </li>
      </ul>
    </div>

    <% if rodauth.logged_in? %>
      <button class="btn btn-info dropdown-toggle">
          Account (<%= rodauth.authenticated_by.join(", ") %>)
          Profile Name (<%= current_account.profile.name %>)
      </button>
      <div class="row justify-content-end"> <!-- Add 'justify-content-end' class here -->
        <div class="col">
          <% if rodauth.uses_two_factor_authentication? %>
          <%= link_to "Change password", rodauth.change_password_path, class: "btn btn-outline-primary" %>
          <%= link_to "Change email", rodauth.change_login_path, class: "btn btn-outline-primary" %>
          <%= link_to "Manage MFA", rodauth.two_factor_manage_path, class: "btn btn-outline-primary" %>
          <%= link_to "Close account", rodauth.close_account_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign out", rodauth.logout_path, data: { turbo_method: :post }, class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Sign out", rodauth.logout_path, data: { turbo_method: :post }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row justify-content-end"> <!-- Add 'justify-content-end' class here -->
        <div class="col">
          <%= link_to "Sign in", rodauth.login_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign up", rodauth.create_account_path, class: "btn btn-success" %>
        </div>
      </div>
    <% end %>

  </div>
</nav>
